<!DOCTYPE html>
<html>
  <head>
    <title>Buy this blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <% let pathForImage=blog.image[0].path.slice(6)%>
        <%console.log(pathForImage)%>
        <img
          src="<%= pathForImage%>"
          alt="<%= blog.title%>"
          height="250px"
          width="250px"
        />
        <div class="description">
          <h3><%= blog.title%></h3>
          <h5>₹<%= blog.price%></h5>
        </div>
      </div>
      <form
        action="/app/v1/payment/create-checkout-session/<%= blog._id%>"
        method="POST"
      >
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>